.container {
  //padding-top: 30px;
  padding-left: 10px;
}

.block {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 12px
}

.image {
  width: 180px;
  height: 164px
}

.footer {
  padding-top: 64px;
}
