.container {
  width: 180px;
  height: 164px;
  gap: 8px;
  background-color: #EBE7E3;
  justify-content: center;
  align-items: center;
  text-align: center;
  flex-direction: column;
}

.logo {
  padding-top: 12px;
  width: 156px;
  max-height: 108px;
  align-self: center;
  justify-self: center;
}


