.container {
  align-items: center;
}

.text_block {
  padding-bottom: 8px;
}

.text_inside {
  font-family: Gilroy-SemiBold;
  font-size: 16px;
}

.block_stories {
  display: flex;
  gap: 10px;
  align-self: center;
  display: flex;
}

.image {
  border-radius: 3px;
}
