.container {
  flex-direction: column;
  align-self: flex-start;
  display: flex;
  overflow-x: scroll;
}

.text_block {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.text_inside {
  font-family: Gilroy-SemiBold;
  font-size: 16px;
  display: flex;
}

.block_stories {
  display: flex;
  gap: 10px;
  align-self: center;
  width: 100%;
  //overflow-x: auto;
}

.image {
  border-radius: 3px;
}

.text_all {
  justify-content: center;
  align-items: center;
  display: flex;
  position: fixed;
  right: 0
}

.left_text {
  position: fixed;
  left: 0;
}
