.container {
  align-items: flex-start;
  justify-content: flex-start;
  background-color: #EBE7E3;
  border-radius: 3px;
  border-width: 0;
  padding-left: 10px;
  padding-top: 10px;
  padding-bottom: 10px;
  width: 170px;
  height: auto;
}
.head_text {
  font-family: Gilroy-SemiBold;
  font-size: 14px;
  padding-bottom: 8px;
}

.text_three {
  font-family: Gilroy-SemiBold;
  font-size: 16px;
}
