.container {
  flex-direction: column;
  align-self: flex-start;
  display: flex;
  overflow-x: scroll;
  padding-bottom: 32px;
}

.text_block {
  font-size: 16px;
  display: flex;
  justify-content: space-between;
  width: 100%;
  font-family: 'Gilroy-SemiBold';
  padding-bottom: 6px;
}

.text_inside {
  font-size: 16px;
  display: flex;
}

.block_scroll {
  //display: block;
  display: flex;
  scroll-snap-type: initial;
  gap: 10px;
  align-self: center;
  width: 100%;
  //overflow: auto;
  overflow-x: auto;
}

.image {
  width: 132px;
  height: 180px;
  border-radius: 3px;
}

.text_all {
  justify-content: center;
  align-items: center;
  display: flex;
  position: fixed;
  right: 0
}

.left_text {
  position: fixed;
  left: 0;
}
