.container {
  padding-left: 10px;
  align-items: center;
}

.block {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 12px;
  padding-bottom: 12px;
}


.item {
  width: 200px;
  height: 300px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  box-sizing: border-box;
  padding: 10px;
}

.pad_bot {
  padding: 12px;
}

.pad_bot16 {
  padding-bottom: 16px;
}

.modal {
  display: flex;
  align-items: center;
  justify-content: center;
}
