.container {
  display: flex;
  background-color: #89242B;
  border-radius: 3px;
  justify-content: center;
  align-items: center;
  padding: 8px;
  width: 152px;
  height: 28px;
  text-decoration: none;
}

.no_underline {
  text-decoration: none;
}

.text_inside {
  text-decoration: none;
  color: white;
  font-family: Gilroy-Medium;
  font-size: 14px;
}
