.container {
  flex-direction: column;
}

.container_price {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 16px;
  padding-bottom: 16px;
}

.price_field {
  font-family: Gilroy-Medium;
  font-size: 24px;
  display: flex;
  border-color: black;
  border-style: solid;
  border-radius: 4px;
  border-width: 2px;
  width: 100px;
  height: 48px;
}

.dropdown_content {
  display: flex;
  align-items: center;
  justify-content: center;
}


.dropdown {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-color: black;
  border-style: solid;
  border-radius: 4px;
  border-width: 2px;
  width: 134px;
  height: 48px;
  padding-left: 12px;
  font-family: Gilroy-Medium;
  font-size: 16px;
}


.text_dropdown_up {
  font-family: Gilroy-Medium;
  font-size: 14px;
  padding: 12px;
  //border-bottom: black;
  //border-bottom-width: 2px;
  //border-bottom-style: solid;
  display: flex;
}

.text_dropdown {
   font-family: Gilroy-Medium;
   font-size: 14px;
   padding: 12px;

 }

.arrow {
  position: absolute;
  right: 0;
  width: 16px;
  height: 16px;
  padding-right: 8px;
}

.pad32 {
  padding-bottom: 32px;
}

.pad16 {
  padding-bottom: 16px;
}

.count_inside {
  font-family: Gilroy-Medium;
  font-size: 24px;
  font-weight: 400;
}


