.container {
  padding: 12px 22px 11px 17px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  align-self: center;
  gap: 12px;
  border-radius: 5px;
  background: #ebe7e3;
  :hover {
    cursor: grab;
  }
}

.options_container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  align-self: center;
  gap: 12px;
  border-radius: 5px;
  background: #ebe7e3;
}

.scroller {
  max-height: 400px;
  overflow-y: scroll;
  scrollbar-width: thin;
  gap: 8px;
  display: flex;
  flex-direction: column;
}

.head_align {
  display: flex;
  align-items: center;
  justify-content: center;
  align-self: center;
  gap: 8px
}

.head_text {
  font-size: 14px;
  font-family: Gilroy-SemiBold;
}

.count_field {
  background-color: white;
  padding: 1px;
  border-radius: 2px
}

.align {
  max-width: 25vh;
  padding-left: 23px;
  display: flex;
  align-items: center;
  gap: 8px;
}

.text {
  font-family: Gilroy-Regular;
  font-size: 14px;
}

.text:hover {
  color: #89242B;
  cursor: grab;
}

.button_container {
  background-color: #EBE7E3;
  align-items: center;
  align-self: center;
  justify-content: center;
  display: flex;
  gap: 8px;
  width: 120px;
  height: 40px;
  border-radius: 3px;
}
