.container {
  align-items: center;
  justify-content: center;
  padding-bottom: 34px;
  max-width: 604px;
}

.text {
  padding-bottom: 12px;
  font-size: 16px;
  font-family: 'Gilroy-SemiBold';
}

.align_images {
  justify-content: space-between;
  align-items: center;
  display: grid;
  grid-gap: 12px;
  grid-template-columns: repeat(2,minmax(140px,2fr));
  @media screen and (min-width: 604px) {
    grid-template-columns: repeat(3,minmax(180px,1fr)) ;
  }
}

.image {
  transition: transform .2s;
  height: 180px;
  width: 180px;
  background-color: #EBE7E3;
}

.skeleton {
  background-color: #EBE7E3;
  width: 100%;
  height: 100%
}

.align_skeleton {
  justify-content: space-between;
  align-items: center;
  display: grid;
  grid-gap: 12px;
  grid-template-columns: repeat(2,minmax(140px,2fr));
  @media screen and (min-width: 604px) {
    grid-template-columns: repeat(3,minmax(180px,1fr)) ;
  }
}
