.container {
  height: 48px;
  width: 154px;
  align-items: center;
  justify-content: center;
  display: flex;
  background-color: #89242B;
  border-radius: 3px;
  align-self: center;
}

.text {
  color: white;
  font-family: Gilroy-Medium;
}
