.container {
  height: 48px;
  width: 154px;
  align-items: center;
  justify-content: center;
  display: flex;
  background-color: #89242B;
  border-radius: 5px;
  align-self: center;
}
.container:hover {
  cursor: grab;
}

.text {
  font-size: 14px;
  color: white;
  font-family: Gilroy-Medium;
}
