.container {
  background-color: #EBE7E3;
  border-radius: 3px;
  padding: 10px;
  border-width: 0;
  //text-align: center;
  //align-items: center;
}

.locate_inside {
  //flex-direction: row;
  //align-self: center;
}

.text_inside {
  font-family: 'Gilroy-Regular';
  font-size: 14px;
  color: black;
}
