
.container {
  flex-direction: column;
  justify-content: center;
  align-items: center;
  display: block;
  width: 180px;
}

.image {
  width: 180px;
  height: 180px;
}

p {
  color: black;
  font-size: 12px;
  line-height: 14px;
}

.name {
  font-size: 16px;
  font-family: 'Gilroy-Medium';
  padding-top: 6px;
  color: black;
}

.description {
  //font-family: Gilroy;
  font-size: 12px;
  line-height: 14px;
  padding-top: 8px;
  color: black;
}

.price {
  font-family: 'Gilroy-Medium';
  color: black;
  font-size: 16px;
  padding-top: 8px;
  padding-bottom: 20px;
}
