.container {
  flex-direction: column;
  justify-content: center;
  align-items: center;
  display: block;
  width: 180px;
  cursor: initial;
}

.image {
  background-color: #ebe7e3;
  width: 180px;
  height: 180px;
  border-style: solid;
  border-radius: 3px;
  border-color: #EBE7E3;
  border-width: 2px;
}
.image:hover {
  border: 1px solid #89242B;
  transition: 0.1s;
  transform: translateY(1px);
  box-shadow: 1px -1px 8px 1px rgba(0, 0, 0, 0.5), 0px 2px 1px rgba(0, 0, 0, 0.1), 0px 4px 2px rgba(0, 0, 0, 0.1), 0px 6px 6px rgba(0, 0, 0, 0.1);
}

.image_skeleton {
  background-color: #ebe7e3;
}

p {
  color: black;
  font-size: 12px;
  line-height: 14px;
}

.name {
  font-size: 16px;
  font-family: 'Gilroy-Medium';
  padding-top: 6px;
  color: black;
}

.description {
  //font-family: Gilroy;
  font-size: 12px;
  line-height: 14px;
  padding-top: 8px;
  color: black;
}

.price {
  font-family: 'Gilroy-Medium';
  color: black;
  font-size: 16px;
  padding-top: 8px;
  padding-bottom: 20px;
}
