.container {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.head_text {
  font-family: Gilroy-SemiBold;
  padding-bottom: 8px;
  font-size: 14px;
}

.under_text {
  padding-bottom: 12px;
  font-size: 12px;
}
