.container {
  display: flex;
  justify-content: flex-start;
  //align-items: center;
  background-color: #EBE7E3;
  flex-direction: column;
  padding-left: 12px;
  padding-right: 12px;
  padding-bottom: 12px;
  padding-top: 12px;
}

.head_text {
  font-family: Gilroy-SemiBold;
  padding-bottom: 8px;
  font-size: 14px;
}

.under_text {
  padding-bottom: 12px;
  font-size: 12px;
}

.map {
  border-radius: 13px;
  @media (min-width: 520px) {
    height: 500px
  }
}

.buttons {
  padding-top: 12px;
  gap: 12px;
  display: flex;
  flex-direction: row;
}


