.container {
    background-color: #EBE7E3;
    border-radius: 3px;
    padding: 10px;
    border-width: 0;
    text-align: center;
    display: flex;
    align-items: center;
    cursor: grab
}
.container:hover {
    background-color: #89242B;
    .text_inside {
        color: white;
    }
}

.locate_inside {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.text_inside {
    font-family: Gilroy-Regular;
    font-size: 14px;
    line-height: 16px;
    color: black;
    margin-left: 5px;
}

