.container {
  display: grid;
  width: 288px;
  justify-content: center;
  background-color: #EBE7E3;
  border-radius: 3px;
  gap: 24px;
  padding-top: 24px;
  padding-bottom: 24px;
}

.text_non_active {
  font-size: 16px;
  text-align: center;
  font-family: Gilroy-SemiBold;
}

.text_non_active:hover {
  color: #89242B;
  cursor: grab;
}

.text_active {
  font-size: 16px;
  font-family: Gilroy-SemiBold;
  color: #89242B;
}
