.container {
  position: fixed;
  bottom: 12px;
  padding-right: 14px;
  padding-left: 14px;
  width: 192px;
  height: 48px;
  background-color: #89242B;
  border-radius: 4px;
  display: flex;
  justify-content: space-between;
  z-index: 1
}
