.container {
  align-items: flex-start;
  justify-content: center;
  flex-direction: column;
  display: flex;
  gap: 16px;
}

.head_text {
  font-family: Gilroy-SemiBold;
  padding-top: 32px;
}

.input {
  //flex: 1;
  border-radius: 3px;
  border-width: 2px;
  display: flex;
  height: 49px;
  width: 372px
}
