.container {
  width: 40px;
  height: 40px;
  border-width: 0;
  background-color: #EBE7E3;
  border-radius: 3px;
  cursor: grab;
}
.container:hover {
  border: 1px solid #89242B;
}

.image {
  //align-self: center;
  //justify-self: center;
  padding: 8px;
}

