.container {
  padding-top: 16px;
  width: 400px;
  background-color: white;
  flex-direction: column;
  //justify-content: center;
  overflow-y: auto;
  //scrollbar-color: 1red;
  scrollbar-width: thin;
  scrollbar-color: #d3bcbe #ebe7e3 ;
  max-height: 850px;
  display: grid;
  gap: 16px;
}

.filters {
  display: flex;
  flex-direction: column;
  align-self: center;
  gap: 12px;
  padding-bottom: 16px;
}

.save_button {
  display: flex;
  padding-bottom: 16px;
  justify-content: center;
}

.total_products {
  justify-content: center;
  display: flex;
  padding-bottom: 16px;
  padding-top: 16px
}
