.container {
  display: flex;
  flex-direction: column;
  gap: 8px
}

.head_text {
  font-size: 14px;
  font-family: Gilroy-SemiBold;
}

.block {
  display: flex;
  flex-direction: row;
  gap: 16px
}
